/*layout properties*/
top: -0.578948974609375px;
left: 0px;
width: 1921px;
height: 546px;

/*ui properties*/
background: transparent url('img/wave.png') 0% 0% no-repeat padding-box;
opacity: 1;